.headerAnimate {
	animation: "pulse 3s linear";
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.animDown {
	animation: 800ms spin linear;
}

@keyframes spin {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
