@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter", san-serif;
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-Bold.ttf");
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-ExtraLight.ttf");
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-Light.ttf");
	src: url("/assets/Inter/Inter-Medium.ttf");
	src: url("/assets/Inter/Inter-Regular.ttf");
	src: url("/assets/Inter/Inter-SemiBold.ttf");
	src: url("/assets/Inter/Inter-Thin.ttf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
p {
	line-height: 2.25rem;
}

#customProgress {
	background-color: red;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
.home-title-animation {
	overflow: hidden;
	border-right: 1px solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(10, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 80%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}
