@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter", san-serif;
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-Bold.ttf");
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-ExtraLight.ttf");
	src: url("/assets/Inter/Inter-ExtraBold.ttf");
	src: url("/assets/Inter/Inter-Light.ttf");
	src: url("/assets/Inter/Inter-Medium.ttf");
	src: url("/assets/Inter/Inter-Regular.ttf");
	src: url("/assets/Inter/Inter-SemiBold.ttf");
	src: url("/assets/Inter/Inter-Thin.ttf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
p {
	line-height: 2.25rem;
}

#customProgress {
	background-color: red;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
